{% extends "base.html" %}
{% block page_title %}Build{% endblock %}
{% block page_subtitle %}{{ build.build_id }}{% endblock %}
{% block content %}
<div id="build-progress" data-progress-url="/builds/{{ build.build_id }}/progress">
  {% include "_build_progress.html" %}
</div>

<div class="action-bar">
  <a href="/" class="btn-link">&larr; back to Config Tuner</a>
  {% if build.is_terminal %}
  <form method="post" action="/builds/{{ build.build_id }}/delete" class="inline-form">
    <button type="submit" class="btn-link btn-link-danger">delete this build</button>
  </form>
  {% endif %}
</div>

<script src="/static/build_progress.js"></script>
{% endblock %}
